@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*,
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #06B6D4;
	--color-bg: #020617;
	--color-link: #B1BCDC;
	--color-link-hover: #fff;
	--page-padding: 1.5rem 2rem;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: area-normal,-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

.demo-1 {
	background-image: linear-gradient(
	  180deg,
	  hsl(240deg 91% 49%) 0%,
	  hsl(252deg 93% 47%) 10%,
	  hsl(258deg 93% 46%) 20%,
	  hsl(263deg 93% 46%) 30%,
	  hsl(266deg 91% 45%) 40%,
	  hsl(269deg 88% 45%) 50%,
	  hsl(272deg 78% 43%) 60%,
	  hsl(275deg 69% 40%) 70%,
	  hsl(277deg 60% 37%) 80%,
	  hsl(294deg 74% 43%) 90%, 
	  hsl(258deg 76% 45%) 100%
	);
}

.demo-2 {
	--color-text: #fff;
	--color-bg: #020617;
	--color-link: #B1BCDC;
	--color-link-hover: #fff;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

main {
	counter-reset: section;
}

.splitting .word {
	white-space: nowrap;
}

.frame {
	color: var(--color-title);
	padding: var(--page-padding);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 'title' 'prev' 'demos' 'sponsor';
	justify-content: start;
	justify-items: end;
	margin-bottom: 3rem;
	grid-gap: 0.5rem;
	align-items: start;
	font-weight: 600;
	font-size: 14px;
}

.frame a:not(.frame__title-back),
.line {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.frame a:not(.frame__title-back)::before,
.line::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 90%;
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before,
.line:hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.frame__title {
	grid-area: title;
	display: flex;
	align-items: center;
}

.frame__title-main {
	font-size: 1rem;
	margin: 0;
	font-weight: normal;
}

.frame__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.frame__title-back svg {
	fill: currentColor;
}

.frame__prev {
	grid-area: prev;
	align-self: start;
}

.frame__demos {
	display: flex;
	gap: 1rem;
}

.frame__demos span {
	opacity: 0.7;
}

.intro {
	height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
}

.intro__title {
	display: grid;
	place-items: center;
	margin: 0;
	line-height: 0.9;
	font-weight: 300;
}

.intro__title-pre {
	font-family: norman-stencil, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: clamp(2rem,10vw,9rem);
}

.intro__title-sub {
	font-size: clamp(1rem,6vw,2.75rem);
}

.intro__info {
	position: relative;
	max-width: 20ch;
	opacity: 0.6;
	line-height: 1.2;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	font-weight: 600;
	font-size: 14px;
}

.intro__info::after {
	content: '';
	position: absolute;
	left: 50%;
	width: 1px;
	height: 2rem;
	background: #fff;
	top: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	position: relative;
	padding: var(--page-padding);
}

.content:last-child {
	padding-bottom: 40vh;
}

.content--full {
	padding: 0;
}

.content p {
	max-width: 660px;
	margin: 1.5rem auto;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 600;
}

.content--highlight p {
	font-size: clamp(1rem,3vw,2rem);
}

.content__title {
	font-size: 12vw;
	line-height: 0.8;
	counter-increment: section;
	text-align: center;
	display: grid;
	gap: 2rem;
}

.content__title--left {
	text-align: left;
}

.content__title--right {
	text-align: right;
}

.content__title::before {
	content: '.'counter(section);
	font-weight: 400;
	font-family: area-normal, sans-serif;
	display: block;
	font-size: 1rem;
	margin-bottom: 10vh;
	text-align: center;
}

.content__title--sides {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 100%;
	text-align: left;
	gap: 2rem;
}

.content__title--sides span:last-child {
	justify-self: end;
}

.font-1 {
	font-family: wayfinder-cf, serif;
	font-weight: 100;
}

.font-2 {
	font-family: campaign-serif, sans-serif;
	font-weight: 400;
}

.font-3 {
	font-family: area-normal, sans-serif;
	font-weight: 600;
}

.font-4 {
	font-family: campaign-serif, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.font-5 {
	font-family: zedou, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.font-6 {
	font-family: afronaut, sans-serif;
	font-weight: 400;
}

.font-7 {
	font-family: hoss-round-wide, sans-serif;
	font-weight: 400;
}

.font-8 {
	font-family: monotalic, sans-serif;
	font-weight: 400;
	text-transform: lowercase;
}

.font-9 {
	font-family: aziga, sans-serif;
	font-weight: 400;
}

.font-10 {
	font-family: norman-stencil, sans-serif;
	font-weight: 800;
}

.font-11 {
	font-family: neighbor, sans-serif;
	font-weight: 400;
}

.font-12 {
	font-family: halogen, sans-serif;
	font-weight: 700;
}

.font-13 {
	font-weight: initial;
	font-family: "marlide-display-variable", sans-serif;
	font-variation-settings: "wght" 400;
}

.font-14 {
	font-weight: initial;
	font-family: "june-expt-variable", sans-serif;
	font-variation-settings: "STYL" 0;
}

.font-15 {
	font-weight: initial;
	font-family: "june-expt-variable",sans-serif;
	font-variation-settings: 'STYL' 100;
}

.font-16 {
	font-weight: initial;
	font-family: "inge-variable", sans-serif;
	font-variation-settings: "slnt" 0;
}

.font-17 {
	font-weight: initial;
	font-family: "antipoda-variable", sans-serif;
	font-variation-settings: "wght" 450, "wdth" 80;
}

.font-18 {
	font-weight: initial;
	font-family: "vinila-variable", sans-serif;
	font-variation-settings: "slnt" 0, "wght" 100, "wdth" 100;
}

.font-19 {
	font-weight: initial;
	font-family: "nagel-variable", sans-serif;
	font-variation-settings: "slnt" 0, "wght" 610;
}

.font-20 {
	font-weight: initial;
	font-family: "borax-variable", sans-serif;
	font-variation-settings: "wght" 400;
}

.font-21 {
	font-family: "gigantic", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.font-22 {
	font-family: "capsule", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.font-23 {
	font-family: "arsenica-variable", sans-serif;
	font-variation-settings: "opsz" 1000, "wght" 300;
}

.font-height {
	line-height: 1.4;
}

.font-height-medium {
	line-height: 0.9;
}

.font-medium {
	font-size: 6vw;
	margin-top: 3rem;
}

.font-larger {
	font-size: 27vw;
}

.font-upper {
	text-transform: uppercase;
}

.font-sub {
	font-size: 5vw;
	margin-top: 2rem;
    display: block;
}

.splitting .font-sub .word {
	display: grid;
	grid-auto-flow: column;
}

.char-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 53em) {
	.frame {
		justify-items: start;
		grid-gap: 2rem;
		grid-template-columns: auto auto 1fr auto;
		grid-template-rows: auto;
		grid-template-areas: 'title prev demos sponsor';
	}
	.frame__demos {
		justify-self: end;
	}
}


  .pyro > .before, .pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  .pyro > .after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
  }
  @-webkit-keyframes bang {
	to {
	  box-shadow: 224px 23.3333333333px #8f0, 59px -252.6666666667px #00ff62, -219px 29.3333333333px #1aff00, -121px -91.6666666667px #00ff0d, 92px -155.6666666667px #00ff09, -232px -83.6666666667px #ff003c, -100px -253.6666666667px #c400ff, 90px -148.6666666667px #ffb300, 132px -202.6666666667px #d9ff00, -69px -155.6666666667px #ffae00, 92px 62.3333333333px #ff00b3, -205px 65.3333333333px #00ff40, 218px -101.6666666667px #3cff00, 127px -247.6666666667px #f06, -79px 30.3333333333px #0037ff, -185px -181.6666666667px #f0c, 111px 74.3333333333px #00c4ff, -90px -259.6666666667px #f2ff00, 241px 70.3333333333px #f0e, -4px -248.6666666667px #00ff7b, -240px -222.6666666667px #ff7300, -184px -252.6666666667px #ff9100, 112px 40.3333333333px #30f, 210px -292.6666666667px #ff7300, -54px -146.6666666667px #f700ff, 115px -187.6666666667px #00ffbf, 246px -363.6666666667px #f20, -129px -361.6666666667px #d0f, 111px -257.6666666667px #ff7b00, 174px -152.6666666667px #00f7ff, -113px -134.6666666667px #8cff00, -239px -325.6666666667px #cf0, 109px 55.3333333333px #48ff00, 52px -136.6666666667px #00ff26, 7px -164.6666666667px #9100ff, 79px 66.3333333333px #ff00d0, 119px -298.6666666667px #00ff51, -126px -338.6666666667px #ff0037, 40px -57.6666666667px #ff007b, 159px -92.6666666667px #00ff40, 79px -407.6666666667px #007bff, -31px 80.3333333333px #ff00a2, 42px -347.6666666667px #1aff00, 122px -331.6666666667px #f0d, -225px 81.3333333333px #00ff26, -10px -260.6666666667px #95ff00, 91px -56.6666666667px #1f0, 118px -204.6666666667px #0f8, 208px -23.6666666667px #af0, 69px -405.6666666667px #00e1ff, -149px 6.3333333333px #ff00d9;
	}
  }
  @-moz-keyframes bang {
	to {
	  box-shadow: 224px 23.3333333333px #8f0, 59px -252.6666666667px #00ff62, -219px 29.3333333333px #1aff00, -121px -91.6666666667px #00ff0d, 92px -155.6666666667px #00ff09, -232px -83.6666666667px #ff003c, -100px -253.6666666667px #c400ff, 90px -148.6666666667px #ffb300, 132px -202.6666666667px #d9ff00, -69px -155.6666666667px #ffae00, 92px 62.3333333333px #ff00b3, -205px 65.3333333333px #00ff40, 218px -101.6666666667px #3cff00, 127px -247.6666666667px #f06, -79px 30.3333333333px #0037ff, -185px -181.6666666667px #f0c, 111px 74.3333333333px #00c4ff, -90px -259.6666666667px #f2ff00, 241px 70.3333333333px #f0e, -4px -248.6666666667px #00ff7b, -240px -222.6666666667px #ff7300, -184px -252.6666666667px #ff9100, 112px 40.3333333333px #30f, 210px -292.6666666667px #ff7300, -54px -146.6666666667px #f700ff, 115px -187.6666666667px #00ffbf, 246px -363.6666666667px #f20, -129px -361.6666666667px #d0f, 111px -257.6666666667px #ff7b00, 174px -152.6666666667px #00f7ff, -113px -134.6666666667px #8cff00, -239px -325.6666666667px #cf0, 109px 55.3333333333px #48ff00, 52px -136.6666666667px #00ff26, 7px -164.6666666667px #9100ff, 79px 66.3333333333px #ff00d0, 119px -298.6666666667px #00ff51, -126px -338.6666666667px #ff0037, 40px -57.6666666667px #ff007b, 159px -92.6666666667px #00ff40, 79px -407.6666666667px #007bff, -31px 80.3333333333px #ff00a2, 42px -347.6666666667px #1aff00, 122px -331.6666666667px #f0d, -225px 81.3333333333px #00ff26, -10px -260.6666666667px #95ff00, 91px -56.6666666667px #1f0, 118px -204.6666666667px #0f8, 208px -23.6666666667px #af0, 69px -405.6666666667px #00e1ff, -149px 6.3333333333px #ff00d9;
	}
  }
  @-o-keyframes bang {
	to {
	  box-shadow: 224px 23.3333333333px #8f0, 59px -252.6666666667px #00ff62, -219px 29.3333333333px #1aff00, -121px -91.6666666667px #00ff0d, 92px -155.6666666667px #00ff09, -232px -83.6666666667px #ff003c, -100px -253.6666666667px #c400ff, 90px -148.6666666667px #ffb300, 132px -202.6666666667px #d9ff00, -69px -155.6666666667px #ffae00, 92px 62.3333333333px #ff00b3, -205px 65.3333333333px #00ff40, 218px -101.6666666667px #3cff00, 127px -247.6666666667px #f06, -79px 30.3333333333px #0037ff, -185px -181.6666666667px #f0c, 111px 74.3333333333px #00c4ff, -90px -259.6666666667px #f2ff00, 241px 70.3333333333px #f0e, -4px -248.6666666667px #00ff7b, -240px -222.6666666667px #ff7300, -184px -252.6666666667px #ff9100, 112px 40.3333333333px #30f, 210px -292.6666666667px #ff7300, -54px -146.6666666667px #f700ff, 115px -187.6666666667px #00ffbf, 246px -363.6666666667px #f20, -129px -361.6666666667px #d0f, 111px -257.6666666667px #ff7b00, 174px -152.6666666667px #00f7ff, -113px -134.6666666667px #8cff00, -239px -325.6666666667px #cf0, 109px 55.3333333333px #48ff00, 52px -136.6666666667px #00ff26, 7px -164.6666666667px #9100ff, 79px 66.3333333333px #ff00d0, 119px -298.6666666667px #00ff51, -126px -338.6666666667px #ff0037, 40px -57.6666666667px #ff007b, 159px -92.6666666667px #00ff40, 79px -407.6666666667px #007bff, -31px 80.3333333333px #ff00a2, 42px -347.6666666667px #1aff00, 122px -331.6666666667px #f0d, -225px 81.3333333333px #00ff26, -10px -260.6666666667px #95ff00, 91px -56.6666666667px #1f0, 118px -204.6666666667px #0f8, 208px -23.6666666667px #af0, 69px -405.6666666667px #00e1ff, -149px 6.3333333333px #ff00d9;
	}
  }
  @-ms-keyframes bang {
	to {
	  box-shadow: 224px 23.3333333333px #8f0, 59px -252.6666666667px #00ff62, -219px 29.3333333333px #1aff00, -121px -91.6666666667px #00ff0d, 92px -155.6666666667px #00ff09, -232px -83.6666666667px #ff003c, -100px -253.6666666667px #c400ff, 90px -148.6666666667px #ffb300, 132px -202.6666666667px #d9ff00, -69px -155.6666666667px #ffae00, 92px 62.3333333333px #ff00b3, -205px 65.3333333333px #00ff40, 218px -101.6666666667px #3cff00, 127px -247.6666666667px #f06, -79px 30.3333333333px #0037ff, -185px -181.6666666667px #f0c, 111px 74.3333333333px #00c4ff, -90px -259.6666666667px #f2ff00, 241px 70.3333333333px #f0e, -4px -248.6666666667px #00ff7b, -240px -222.6666666667px #ff7300, -184px -252.6666666667px #ff9100, 112px 40.3333333333px #30f, 210px -292.6666666667px #ff7300, -54px -146.6666666667px #f700ff, 115px -187.6666666667px #00ffbf, 246px -363.6666666667px #f20, -129px -361.6666666667px #d0f, 111px -257.6666666667px #ff7b00, 174px -152.6666666667px #00f7ff, -113px -134.6666666667px #8cff00, -239px -325.6666666667px #cf0, 109px 55.3333333333px #48ff00, 52px -136.6666666667px #00ff26, 7px -164.6666666667px #9100ff, 79px 66.3333333333px #ff00d0, 119px -298.6666666667px #00ff51, -126px -338.6666666667px #ff0037, 40px -57.6666666667px #ff007b, 159px -92.6666666667px #00ff40, 79px -407.6666666667px #007bff, -31px 80.3333333333px #ff00a2, 42px -347.6666666667px #1aff00, 122px -331.6666666667px #f0d, -225px 81.3333333333px #00ff26, -10px -260.6666666667px #95ff00, 91px -56.6666666667px #1f0, 118px -204.6666666667px #0f8, 208px -23.6666666667px #af0, 69px -405.6666666667px #00e1ff, -149px 6.3333333333px #ff00d9;
	}
  }
  @keyframes bang {
	to {
	  box-shadow: 224px 23.3333333333px #8f0, 59px -252.6666666667px #00ff62, -219px 29.3333333333px #1aff00, -121px -91.6666666667px #00ff0d, 92px -155.6666666667px #00ff09, -232px -83.6666666667px #ff003c, -100px -253.6666666667px #c400ff, 90px -148.6666666667px #ffb300, 132px -202.6666666667px #d9ff00, -69px -155.6666666667px #ffae00, 92px 62.3333333333px #ff00b3, -205px 65.3333333333px #00ff40, 218px -101.6666666667px #3cff00, 127px -247.6666666667px #f06, -79px 30.3333333333px #0037ff, -185px -181.6666666667px #f0c, 111px 74.3333333333px #00c4ff, -90px -259.6666666667px #f2ff00, 241px 70.3333333333px #f0e, -4px -248.6666666667px #00ff7b, -240px -222.6666666667px #ff7300, -184px -252.6666666667px #ff9100, 112px 40.3333333333px #30f, 210px -292.6666666667px #ff7300, -54px -146.6666666667px #f700ff, 115px -187.6666666667px #00ffbf, 246px -363.6666666667px #f20, -129px -361.6666666667px #d0f, 111px -257.6666666667px #ff7b00, 174px -152.6666666667px #00f7ff, -113px -134.6666666667px #8cff00, -239px -325.6666666667px #cf0, 109px 55.3333333333px #48ff00, 52px -136.6666666667px #00ff26, 7px -164.6666666667px #9100ff, 79px 66.3333333333px #ff00d0, 119px -298.6666666667px #00ff51, -126px -338.6666666667px #ff0037, 40px -57.6666666667px #ff007b, 159px -92.6666666667px #00ff40, 79px -407.6666666667px #007bff, -31px 80.3333333333px #ff00a2, 42px -347.6666666667px #1aff00, 122px -331.6666666667px #f0d, -225px 81.3333333333px #00ff26, -10px -260.6666666667px #95ff00, 91px -56.6666666667px #1f0, 118px -204.6666666667px #0f8, 208px -23.6666666667px #af0, 69px -405.6666666667px #00e1ff, -149px 6.3333333333px #ff00d9;
	}
  }
  @-webkit-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-moz-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-o-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-ms-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-webkit-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-moz-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-o-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-ms-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }

  
/* Please ❤ this if you like it! */
/* Follow Me https://codepen.io/designfenix */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
:root {
  --vs-primary: 29 92 255;
}
/*Dialog Styles*/
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease both;
}
dialog::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  backdrop-filter: blur(20px);
}
dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
dialog h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}
dialog p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.5rem 0;
}
dialog p a:visited {
  color: rgb(var(--vs-primary));
}
/*General Styles*/
button.primary {
  display: inline-block;
  font-size: 0.8rem;
  color: #fff !important;
  background: rgb(var(--vs-primary) / 100%);
  padding: 13px 25px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
}
button.primary:hover {
  box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
  transform: translateY(-5px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

